#main_container {
	margin: 12%;
}


p {
	font-size: 18px;
	color: #9CCF99;
}
body {
	font-family: 'Amatic SC', sans-serif;
	font-size: 45px;
	background-image:url('pics/sun-tree.jpg');
	background-attachment: fixed;
	z-index: -999;
}

h1 {
	font-size: 60px;
	color: #9CCF99;
	text-align: center;
}

h2 {
	font-size: 65px;
	color: #FF9999;
	text-align: center;
}

footer {
	font-size: 29px;
	text-align: center;
}

a:hover {
	color: #9CCF99;
}

/*-----------------------------------OPAQUE BOX------------------------------------*/

.transbox {
	width: 100%;
	height: 90%;
	padding-left: 3%;
	padding-right: 3%;
	padding-top: 10px;
	padding-bottom: 10px;
	background: rgba(0, 0, 0, 0.5);
}


/*-------------------------------CLICK FUNCTION PICS-------------------------------*/


/* ----------------------------- FONT_AWESOME ICONS ------------------------------------ */


.button {
	width: 2%;
	height: 7%;
	position: fixed;
	left: 4%;
	color: #FF9999;
	text-decoration: none;
	transition: all 0.5s ease-in-out;
}

#facebook {
	z-index: 2;
	top: 40%;
	left: 4.75%;
}

#camera {
	z-index: 4;
	top: 60%;
}

#twitter {
	z-index: 3;
	top: 50%;
}

#home {
	z-index: 1;
	top: 29%;
}

.button:hover {
	cursor: pointer;
        -webkit-animation:bounce 1s;
        animation:bounce 1s;
}

a:hover {
	color: #9CCF99;
}
 
/*---------------------------------------- Navigation Bar -------------------------------------------*/

.header {
	color: #FF9999;
	font-size: 30px;
	float: right;
	margin-top: -12%;
	margin-right: 8%;
}

a.header {
	text-decoration: none;
}

a.favSites {
	text-decoration: none;
}

a.aboutMe {
	text-decoration: none;
}

a.Home {
	text-decoration: none;
}

.favSites {
	color: #FF9999;
	font-size: 30px;
	float: right;
	margin-top: -12%;
	margin-right: 13%;
}

.aboutMe {
	color: #FF9999;
	font-size: 30px;
	float: right;
	margin-top: -12%;
	margin-right: 21%;
	border-bottom: solid #FF9999 4px;
}

.Home {
	color: #FF9999;
	font-size: 30px;
	float: right;
	margin-top: -12%;
	margin-right: 29%;
}

/*-------------------------------------- About Me Page ------------------------------------------*/

img.Betsy {
	width: 95%;
	height: 13em;
	border:15px solid black;
}

.paragraph-about {
	font-size: 40px;
	color: #9CCF99;
	margin-right: 3%;
}

.paragraph-more {
	font-size: 32px;
	border-top: dotted #9CCF99 2px;
	padding: 4px;
	margin-right: 3%;
}

.paragraph-feel-happy {
	font-size: 32px;
	border-bottom: dotted #9CCF99 2px;
	padding: 4px;
	margin-right: 3%;
}

.paragraph-who-is {
	font-size: 40px;
	color: #9CCF99;
	margin-right: 3%;
}

.paragraph-me {
	font-size: 40px;
	color: #9CCF99;
	margin-right: 3%;
}

.bxslider {
	padding: 2px;
	margin:5px;
}
