#main_container {
	margin: 10%;
}


p {
	font-size: 25px;
	color: #FF9999;
}
body {
	font-family: 'Amatic SC', sans-serif;
	font-size: 45px;
	background-image:url('pics/sun-tree.jpg');
	background-attachment: fixed;
	z-index: -999;
}

h1 {
	font-size: 60px;
	color: #FF9999;
}

h2 {
	font-size: 50px;
	color: #9CCF99;
}

.happy-definition {
	border: 1px solid #FF9999;
	padding:5%;
}

.paragraph-about {
	font-size: 40px;
	color: #9CCF99;
}

th:hover, th:focus, th:active {  
	color: #0085AF;
}
.list {
	border: 2px solid black;
	display: inline-block;	 
}
img.BayView {
	z-index: 1;
	height: 15%;
	width: 95%;
	border: 15px solid black;
	background-image:url('pics/nate.jpg');
}
img.nate {
	z-index: -1;
	width: 95%;
	height: 20%;
	border:15px solid black;
}

#click-me {
	font-size: 25px;
	background-color: black;
	color: #9CCF99;
	padding: 10px;
	margin: 10px;
	cursor: pointer;
}

#click-unhide {
	font-size: 25px;
}

#click-unhide {
	background-color: black;
	color: #9CCF99;
	padding: 10px;
	margin: 10px;
	cursor: pointer;
}


/*--------------------------------MINI PICS--------------------------------------

#Betsy {
	float-left;
	width: 40%;
	height: 10%;
	border:12px solid black;
}

#BetsyAndJordan {
	float-left;
	width: 29%;
	height: 10%;
	border:12px solid black;
}

#Abbs {
	float-left;
	width: 33%;
	height: 16%;
	border:12px solid black;
}

/* ----------------------------- FONT_AWESOME ICONS ------------------------------------ */


.button {
	width: 2%;
	height: 7%;
	position: fixed;
	left: 3%;
	color: #FF9999;
	text-decoration: none;
	transition: all 0.5s ease-in-out;
}

#facebook {
	z-index: 1;
	top: 29%;
}

#camera {
	z-index: 2;
	top: 40%;
}

#twitter {
	z-index: 3;
	top: 50%;
}

#fun {
	z-index: 4;
	top: 60%;
}

.button:hover {
	cursor: pointer;
        -webkit-animation:bounce 1s;
        animation:bounce 1s;
}


