#main_container {
	margin: 10%;
}


p {
	font-size: 20px;
}
body {
	font-family: 'Amatic SC', sans-serif;
	font-size: 45px;
	background-image:url('light-wooden-background.jpg');
	background-attachment: fixed;
	z-index: -999;
} 
h1 {
	font-size: 60px;
}

th:hover, th:focus, th:active {  
	color: #0085AF;
}
.list {
	border: 2px solid black;
	display: inline-block;	 
}
img.BayView {
	z-index: 1;
	height: 15%;
	width: 95%;
	border: 15px solid black;
	background-image:url('pics/nate.jpg');
}
img.nate {
	z-index: -1;
	width: 95%;
	height: 20%;
	border:15px solid black;
}

#click-me {
	font-size: 25px;
	background-color: black;
	color: #F0F990;
	padding: 10px;
	margin: 10px;
	cursor: pointer;
}

#click-unhide {
	font-size: 25px;
}

#click-unhide {
	background-color: black;
	color: #F0F990;
	padding: 10px;
	margin: 10px;
	cursor: pointer;
}


/*--------------------------------MINI PICS--------------------------------------

#Betsy {
	float-left;
	width: 40%;
	height: 10%;
	border:12px solid black;
}

#BetsyAndJordan {
	float-left;
	width: 29%;
	height: 10%;
	border:12px solid black;
}

#Abbs {
	float-left;
	width: 33%;
	height: 16%;
	border:12px solid black;
}

/* ----------------------------- FONT_AWESOME ICONS ------------------------------------ */


i.button {
	width: 2%;
	height: 7%;
	position: fixed;
	left: 2%;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	transition: all 2s ease-in-out;
}

#facebook {
	z-index: 1;
	top: 17%;
}

#camera {
	z-index: 2;
	top: 37%;
}

#twitter {
	z-index: 3;
	top: 57%;
}

#fun {
	z-index: 4;
	top: 77%;
}

img.smiley:hover {
	cursor: pointer;
	top: 0%;
	left: 2%;
	/*
	box-shadow: 0 5% 0 rgba(255, 255, 255, 0.5);
	*/
}
