#main_container {
	margin: 12%;
}


p {
	font-size: 18px;
	color: #FF9999;
}
body {
	font-family: 'Amatic SC', sans-serif;
	font-size: 45px;
	background-image:url('pics/sun-tree.jpg');
	background-attachment: fixed;
	z-index: -999;
}

h1 {
	font-size: 60px;
	color: #FF9999;
	text-align: center;
}

h2 {
	font-size: 65px;
	color: gray;
	text-align: center;
}

footer {
	font-size: 29px;
	text-align: center;
}

a:hover {
	color: #9CCF99;
}

a#blog:hover {
	color: #9CCF99;
}

.about-pics {
	font-size: 50px;
	color: #FF9999;
	border-top: dotted #FF9999 2px;
}

/*-----------------------------------OPAQUE BOX------------------------------------*/

.transbox {
	width: 100%;
	height: 90%;
	padding-left: 3%;
	padding-right: 3%;
	padding-top: 10px;
	padding-bottom: 10px;
	background: rgba(0, 0, 0, 0.5);
}

.happy-definition {
	border: 1px solid #FF9999;
	padding:5%;
	margin-right: 8%;
	margin-left: 5%;
}

.paragraph-about {
	font-size: 40px;
	color: #9CCF99;
	margin-right: 3%;
}

.paragraph-more {
	font-size: 32px;
	border-top: dotted #FF9999 2px;
	padding: 4px;
	margin-right: 3%;
}

.paragraph-feel-happy {
	font-size: 32px;
	border-bottom: dotted #FF9999 2px;
	padding: 4px;
	margin-right: 3%;
}

.bxslider {
	padding: 2px;
	margin:5px;
}

/*-------------------------------CLICK FUNCTION PICS-------------------------------*/

img.nate {
	z-index: 1;
	height: 13em;
	width: 95%;
	border: 15px solid black;
	background-image:url('pics/nate.jpg');
}
img.courtney-and-betsy {
	z-index: -1;
	width: 95%;
	height: 14em;
	border:15px solid black;
}

#click-me {
	font-size: 25px;
	background-color: black;
	color: #9CCF99;
	padding: 10px;
	margin: 10px;
	cursor: pointer;
}

#click-unhide {
	font-size: 25px;
}

#click-unhide {
	background-color: black;
	color: #9CCF99;
	padding: 10px;
	margin: 10px;
	cursor: pointer;
}


/*--------------------------------MINI PICS--------------------------------------

#Betsy {
	float-left;
	width: 40%;
	height: 10%;
	border:12px solid black;
}

#BetsyAndJordan {
	float-left;
	width: 29%;
	height: 10%;
	border:12px solid black;
}

#Abbs {
	float-left;
	width: 33%;
	height: 16%;
	border:12px solid black;
}

/* ----------------------------- FONT_AWESOME ICONS ------------------------------------ */


.button {
	width: 2%;
	height: 7%;
	position: fixed;
	left: 4%;
	color: #FF9999;
	text-decoration: none;
	transition: all 0.5s ease-in-out;
}

#facebook {
	z-index: 2;
	top: 40%;
	left: 4.75%;
}

#camera {
	z-index: 4;
	top: 60%;
}

#twitter {
	z-index: 3;
	top: 50%;
}

#home {
	z-index: 1;
	top: 29%;
}

.button:hover {
	cursor: pointer;
        -webkit-animation:bounce 1s;
        animation:bounce 1s;
}

/*------------------------------------- Navigation Bar -------------------------------------*/

.header {
	color: #FF9999;
	font-size: 30px;
	float: right;
	margin-top: -12%;
	margin-right: 8%;
}

a.header {
	text-decoration: none;
}


a.favSites {
	text-decoration: none;
}

a.about {
	text-decoration: none;
}

a.Home {
	text-decoration: none;
}

a.facebook-login {
	text-decoration: none;
}

.favSites {
	color: #FF9999;
	font-size: 30px;
	float: right;
	margin-top: -12%;
	margin-right: 13%;
}

.about {
	color: #FF9999;
	font-size: 30px;
	float: right;
	margin-top: -12%;
	margin-right: 21%;
}

.Home {
	color: #FF9999;
	font-size: 30px;
	float: right;
	margin-top: -12%;
	margin-right: 27%;
	border-bottom: solid #FF9999 4px;
}

#facebook-click {
	color: #FF9999;
	font-size: 30px;
	float: right;
	margin-top: -11.7%;
	margin-right: 33%;
}

#facebook-click:hover {
	color: #9CCF99;
}


/*

th:hover, th:focus, th:active {  
	color: #0085AF;
}
.list {
	border: 2px solid black;
	display: inline-block;	 
}


-------------------------------------- RESPONSIVE SLIDES ------------------------------------------
*/

#rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

#rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

#rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

#rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }