#main_container {
	margin: 12%;
}


p {
	font-size: 40px;
	color: gray;
	font-variant: 
	font-weight: bolder;
}

details {
	font-size: 35px;
	color: #FF9999;
}

body {
	font-family: 'Amatic SC', sans-serif;
	font-size: 45px;
	background-image:url('pics/places/graffiti.jpg');
	background-size: 100%;
	background-attachment: fixed;
	z-index: -999;
}

h1 {
	font-size: 60px;
	color: #7ACC59;
	text-align: center;
	margin-left: 8%;
	margin-right: 8%;
}

h2 {
	font-size: 40px;
	color: #FF9999;
	text-align: center;
}

footer {
	font-size: 29px;
	text-align: center;
}

/*-----------------------------------OPAQUE BOX------------------------------------*/

.transbox {
	width: 100%;
	height: inherit;
	padding-left: 3%;
	padding-right: inherit;
	padding-top: 10px;
	padding-bottom: 10px;
	background: rgba(0, 0, 0, 0.8);
}

.paragraph-about {
	font-size: 40px;
	color: #9CCF99;
	margin-right: 3%;
}

.paragraph-more {
	font-size: 32px;
	border-top: dotted #FF9999 2px;
	padding: 4px;
	margin-right: 3%;
}

.paragraph-feel-happy {
	font-size: 32px;
	border-bottom: dotted #FF9999 2px;
	padding: 4px;
	margin-right: 3%;
}

.bxslider {
	padding: 2px;
	margin:5px;
}

/*-------------------------------CLICK FUNCTION PICS-------------------------------*/



/* ----------------------------- FONT_AWESOME ICONS ------------------------------------ */

.button {
	width: 2%;
	height: 7%;
	position: fixed;
	left: 4%;
	color: black;
	text-decoration: none;
	transition: all 0.5s ease-in-out;
}

#facebook {
	z-index: 2;
	top: 40%;
	left: 4.75%;
}

#camera {
	z-index: 4;
	top: 60%;
}

#twitter {
	z-index: 3;
	top: 50%;
}

#home {
	z-index: 1;
	top: 29%;
}

.button:hover {
	cursor: pointer;
        -webkit-animation:bounce 1s;
        animation:bounce 1s;
}

a:hover {
	color: #9CCF99;
}


/*----------------------------------- Navigation Bar ----------------------------------*/
.header {
	color: black;
	font-size: 30px;
	float: right;
	margin-top: -12%;
	margin-right: 8%;
	border-bottom: solid #FF9999 4px;
	font-weight: bolder;
}

a.header {
	text-decoration: none;
}

a.favSites {
	text-decoration: none;
}

a.about {
	text-decoration: none;
}

a.Home {
	text-decoration: none;
}

.favSites {
	color: black;
	font-size: 30px;
	float: right;
	margin-top: -12%;
	margin-right: 13%;
	font-weight: bolder;
}

.about {
	color: black;
	font-size: 30px;
	float: right;
	margin-top: -12%;
	margin-right: 21%;
	font-weight: bolder;
}

.Home {
	color: black;
	font-size: 30px;
	float: right;
	margin-top: -12%;
	margin-right: 27%;
	font-weight: bolder;
}

/*-------------------------------------------- January 27, 2014 ------------------------------------*/

#palm-tree {
	width: 93%;
	height: 12em;
	border:15px solid black;
}

#hill-steps {
	width: 93%;
	height: 12em;
	border:15px solid black;
}

#guitar-man {
	width: 93%;
	height: 13em;
	border:15px solid black;
}

#hilltop {
	width: 93%;
	height: 12em;
	border:15px solid black;
}

#church {
	width: 93%;
	height: 12em;
	border:15px solid black;
}

#light-car {
	width: 93%;
	height: 12em;
	border:15px solid black;
}

#squirrel {
	width: 93%;
	height: 12em;
	border:15px solid black;
}

#brick {
	width: 93%;
	height: 12em;
	border:15px solid black;
}

#betsy-face {
	width: 93%;
	height: 13em;
	border:15px solid black;
}
